@font-face{
    font-family: "Fake identity";
    src: url ("CrackedConcrete-Display.ttf");
}


h1{

    color: blue;
    letter-spacing: 20px;
    word-spacing: 20px;
}
h2{
    text-decoration: overline;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
}
h5{
    font-family: "Fake identity" ;
}
p{
    text-indent: 100px;
    text-align: center;
    font-family: Brush Script MT,cursive; 
}
.MyElement{
    color: red !important; 
}
#NormalText{
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
}
#ItalicText{
    font-style: Italic;
    font-size: 50px;
    font-weight: bold;
}
#ObliqueText{
    font-style: oblique;
    font-size: 50px;
    font-weight: 900;
}
a{
    color: green;
}
