div#static {
    position: static;
    border: 3px solid red;
    width: 250px;
    height: 250px;
    padding: 20px;
}
div#relative {
    position: relative;
    border: 3px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;

}
div#fixed {

    position: fixed;
    border: 3px solid green;
     width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}
div#parent {
     
      position: relative;
      width: 250px;
      height: 250px;
      border: 3px solid green;


}
div#absolute {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    right: 80px;
    left: 70px;
    color: rgb(110, 54, 54);

}
div#sticky {
    position: sticky;
    top: 0px;
    background-color: brown;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
 li{
    float: left;
 }
 li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
 }

li a:hover:not(.active) {
    background-color: #434343;
}



 .active{
    background-color: #133713;
    
 }
 .navbar{
    overflow: hidden;
    background-color: #133713;
    font-family: 'Times New Roman', Times, serif;

 }
 .navbar a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 .dropdown{
    float: left;
    overflow: hidden;

 }
 .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px ;
    background-color: inherit;
    font: inherit;
    margin: 0;
 }