div.gallery{
    margin: 5px;
    border: 1px solid #444;
    float: left;
    width: 180px;
}
div.gallery:hover{
    border:1px solid #133713;
}
div.gallery img{
    width: 100px;
    height: auto;
}
div.desc{
    padding: 15px;
    text-align: center;
}
.world{
    background: url("images/image1234.jpg") no-repeat;
}
.pictures{
    width: 1000px;
    height: 1000px;
    display: inline-block;
    background-position: 0 0;
 }

 a[href="https://shkolladigjitale.com" ]{
    color: blue;
 }
 [data-value]{
    /*atribute exists*/
 }
 [data-value="foo"]{
    /*      atributte has this exact value*/
 }
[data-value *="foo"]{
    /*Atribute value thAT it contains vlue somewhere in is*/ 
} 
[data-value~="foo"]{
    /*Atributte has been sace seperated list somewehre*/
}
[data-value^="foo"]{
}
[data-value|="foo"]{
}
[data-value$="foo"]{
}