ul{

    background-color: white;
    border: 5px solid grey;
    list-style-type: none;
    padding: 20px 50px;
    font-size: 20px;


}
ol{
    background: red;
    padding: 20px;


}
ol li{
     
    background-color: red;
    margin: 32px;

}
ul li{
    padding: 8px 16px;
    border-bottom: 1px solid blue;
}
div{
    overflow: hidden;
    background-color: lightgrey;
    width: 200px;
    height: 100px;
    margin-left: 50px;
    padding: 20px;
    border: black 10px solid;



}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{

    text-align: center;
    padding: 5px;
    border: 2px solid black
}