.container{
    display: flex;
    flex-direction:row-reverse;
    /*flex-direction:row-reverse*/
    /*flex-direction:column-reverse*/
    background-color: blue;
}
.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
} 