.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #676167;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px #000;
    padding: 12px 16px;
    z-index: 1;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom:  1px dashed black;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #676167;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    margin-left: -60px;

}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltip .tooltiptext::after{

    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    
}
body {
    counter-reset: number;
}
h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    color: blue;
    margin: 10px;

}
:root{
    --primary-color : #06206a   ;
    --secondary-color : #fff;
    --padding: 20px;

}
h1 {
    background-color: var(--primary-color);
    color: var(var(--secondary-color));
    padding: var(--padding);
}
p {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}
.round {
    border-radius: 12px;
    
}
#example {
    border-radius: 12px;
    
}
body {
    background:
    url(Lesson16/images/image1.jpg)
    top center / 200px 200px
    no-repeat
    fixed
    padding-box
    content-box
    red;
}
body {
    background-color: rebeccapurple;
    background: url(Lesson16/images/image1.jpg);
}
.shadow{
    box-shadow:  2px 2px 4px 5px;
}